*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

header{
    background: #129799;
    width: 100%;
    height: 70vh;
    align-items: center;
}

ul{
    margin: 0 auto;
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
}

.ul1 li{
    font-size: 1.5rem;
    margin-top: 15px;
    color: white;
}

.ul1 li:hover{
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.ul2{
    margin-top: 6%;
}

.ul2 li{
    font-size: 1.5rem;
}

.ul2 li:hover{
    cursor: pointer;
    font-weight: bold;
}

.caixa_batida{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

h1{
    font-size: 3rem;
    color: white;
}

.picture_life{
    width: 480px;
}

main{
    width: 100%;
    height: max-content;
    margin: 0 auto;
    background: #FFA185;
}

.paragraph{
color: black;
font-family: 'Roboto';
font-style: mixed;
font-size: 20px;
align-self: left;
align-self: center;
margin: 0 auto;
}

.aquarela{
    margin: 0 auto;
    padding: 5%;
    width: 100%;
    height: 20vh;
}

.aquarela_h2{
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
}

.imgs_1{
    display: flex;
    margin: 0 auto;
    margin-bottom: 300px;
    padding: 5%;
    width: 100%;
    height: 20vh;
}

.mulher{
    width: 600px;
    height: 390px;
    margin-right: 30px;
}

.discos{
    width: 600px;
    height: 390px;
}

.imgs_2{
    display: flex;
    margin: 0 auto;
    padding: 5%;
    width: 100%;
}

.radio{
    width: 600px;
    height: 390px;
    margin-right: 30px;
}

.fone{
    width: 600px;
    height: 390px;
    margin-right: 20px;
}

.see_more{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    color: #000000;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 23px;
}

a{
    text-decoration: none;
    color: #000000;
}

footer{
    width: 100%;
    height: 30vh;
    margin: 0 auto;
    background: #129799 ;
}

.sect_footer{
    width: 60%;
    height: 30vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social{
    width: 8%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social figure{
    margin-left: 56%;
}

.insta{
    width: 39.71px;
    height: 38.38px;
}

.face{
    width: 39.71px;
    height: 38px;
}

.linkedin{
    width: 45.71px;
    height: 45px;
}

.pinterest{
    width: 45.71px;
    height: 43px;
}

.ul3{
    width: 50%;
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ul3 li{
    margin-left: 60%;
}

.ul3 li:hover{
    cursor: pointer;
    font-weight: bold;
}